# Fichiers et dossiers générés par Hadoop
output/


# Fichiers de rapport (LaTeX et PDF)
rapport.tex
*.pdf
*.aux
*.log
*.out
*.toc

# Fichiers de compilation Java et dossiers de build
*.class
target/
build/

# Fichiers d'IDE
.idea/
*.iml
*.project
*.classpath
.settings/